@use "./reset";

* {
  font-family: "Noto Sans HK", sans-serif;
}

body {
  background-color: #F4F4F4;
}

.search-container {
  width              : 100%;
  height             : 30vh;
  background-image   : url("../images/search-img.jpg");
  background-size    : cover;
  background-position: center;

  .content {
    width          : 100%;
    height         : 100%;
    gap            : 20px;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    padding        : 0 20px;
  }
}

.content {
  h1 {
    color         : #FFF;
    font-size     : 2.5rem;
    font-weight   : 700;
    letter-spacing: 5px;
    text-align    : center;
  }

  h4 {
    color      : #FFF;
    font-size  : 1.125rem;
    font-weight: 500;
    text-align : center;
  }

  .search-box {
    position  : relative;
    width     : 100%;
    max-width : 600px;
    height    : 40px;
    margin-top: 20px;
  }
}

.search-box {
  input {
    width        : 100%;
    height       : 100%;
    outline      : none;
    border       : none;
    padding      : 0 25px 0 45px;
    font-size    : 1.125rem;
    border-radius: 5px;
  }

  i {
    position : absolute;
    left     : 15px;
    top      : 50%;
    transform: translateY(-50%);
    color    : #AAA;
    font-size: 1.25rem;
  }
}

.gallery {
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

.gallery {
  .images {
    width     : 100%;
    max-width : 1800px;
    margin-top: 40px;
  }
}

.images {
  .card {
    width        : 350px;
    cursor       : pointer;
    position     : relative;
    border-radius: 5px;
    margin-bottom: 15px;
    overflow     : hidden;

    opacity   : 0;
    transform : translateY(20px);
    transition: all 0.4s ease;

    &:first-child {
      opacity  : 1;
      transform: translateY(0);
    }

    &.show {
      opacity  : 1;
      transform: translateY(0);
    }

    &:hover .details {
      bottom        : 1px;
      pointer-events: auto;
    }
  }
}

.card {
  .photo {
    display      : block; // 避免圖像元素下方產生不必要的空白
    width        : 100%;
    height       : auto; // Masonry 需要每個項目有固定寬度
    border-radius: 5px;
  }

  .details {
    position       : absolute;
    width          : 100%;
    padding        : 15px 20px;
    background     : linear-gradient(to top, #00000085, transparent);
    display        : flex;
    align-content  : center;
    justify-content: space-between;

    transition    : all .15s ease-in-out;
    bottom        : -100px;
    pointer-events: none;
  }
}

.details {
  .author {
    align-self: center;
    font-size : 1rem;
    color     : #FFF;
    gap       : 8px;
  }

  button {
    cursor          : pointer;
    color           : #FFF;
    border          : none;
    border-radius   : 5px;
    background-color: #A57A65;
    font-size       : 1rem;
    padding         : 1.5px 8px;
  }
}

.gallery {
  .load-more {
    cursor          : pointer;
    font-size       : 1rem;
    font-weight     : 500;
    color           : #FFF;
    background-color: #B78A73;
    padding         : 8px 25px;
    border          : none;
    border-radius   : 5px;
    margin          : 30px 0 20px;

    transition: background-color 0.15s ease-in-out;

    &:hover {
      background-color: #A57A65;
    }

    &:disabled {
      background: #f0b1a0;
    }

    .loading-text {
      display        : flex;
      align-items    : center;
      justify-content: center;
      gap            : 8px;

      .bx-spin {
        animation: spin 1s linear infinite;
      }
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

.lightbox {
  position        : fixed;
  z-index         : 100;
  width           : 100%;
  height          : 100%;
  background-color: #000000A6;

  transition    : all .15s ease-in-out;
  pointer-events: none;
  opacity       : 0;

  &.show {
    pointer-events: auto;
    opacity       : 1;
  }
}

.lightbox {
  .wrapper {
    width           : 100%;
    max-width       : 850px;
    position        : absolute;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);
    background-color: #F4F4F4;
    border-radius   : 10px;
    padding         : 20px;
  }
}

.wrapper {
  .lightbox-header {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
  }
}

.lightbox-header {
  .author {
    color    : #333;
    font-size: 1.25rem;

    span {
      font-weight: 600;
    }
  }

  .buttons {
    i {
      cursor       : pointer;
      width        : 40px;
      height       : 40px;
      text-align   : center;
      line-height  : 40px;
      color        : #FFF;
      font-size    : 1.125rem;
      border-radius: 4px;
    }

    .bx-download {
      background-color: #A57A65;
    }

    .bx-x {
      margin-left     : 10px;
      background-color: #AAA;
    }
  }
}

.wrapper {
  .preview-img {
    margin-top     : 20px;
    display        : flex;
    justify-content: center;

    .img {
      max-width : 90vw;
      max-height: 65vh;
    }
  }
}


.img {
  .lightbox-img {
    width     : 100%;
    height    : 100%;
    object-fit: contain;
  }
}