/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Noto Sans HK", sans-serif;
}

body {
  background-color: #F4F4F4;
}

.search-container {
  width: 100%;
  height: 30vh;
  background-image: url("../images/search-img.jpg");
  background-size: cover;
  background-position: center;
}
.search-container .content {
  width: 100%;
  height: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.content h1 {
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
}
.content h4 {
  color: #FFF;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
}
.content .search-box {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 40px;
  margin-top: 20px;
}

.search-box input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding: 0 25px 0 45px;
  font-size: 1.125rem;
  border-radius: 5px;
}
.search-box i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #AAA;
  font-size: 1.25rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery .images {
  width: 100%;
  max-width: 1800px;
  margin-top: 40px;
}

.images .card {
  width: 350px;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  margin-bottom: 15px;
  overflow: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
}
.images .card:first-child {
  opacity: 1;
  transform: translateY(0);
}
.images .card.show {
  opacity: 1;
  transform: translateY(0);
}
.images .card:hover .details {
  bottom: 1px;
  pointer-events: auto;
}

.card .photo {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.card .details {
  position: absolute;
  width: 100%;
  padding: 15px 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5215686275), transparent);
  display: flex;
  align-content: center;
  justify-content: space-between;
  transition: all 0.15s ease-in-out;
  bottom: -100px;
  pointer-events: none;
}

.details .author {
  align-self: center;
  font-size: 1rem;
  color: #FFF;
  gap: 8px;
}
.details button {
  cursor: pointer;
  color: #FFF;
  border: none;
  border-radius: 5px;
  background-color: #A57A65;
  font-size: 1rem;
  padding: 1.5px 8px;
}

.gallery .load-more {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: #FFF;
  background-color: #B78A73;
  padding: 8px 25px;
  border: none;
  border-radius: 5px;
  margin: 30px 0 20px;
  transition: background-color 0.15s ease-in-out;
}
.gallery .load-more:hover {
  background-color: #A57A65;
}

.lightbox {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6509803922);
  transition: all 0.15s ease-in-out;
  pointer-events: none;
  opacity: 0;
}
.lightbox.show {
  pointer-events: auto;
  opacity: 1;
}

.lightbox .wrapper {
  width: 100%;
  max-width: 850px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F4F4F4;
  border-radius: 10px;
  padding: 20px;
}

.wrapper .lightbox-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lightbox-header .author {
  color: #333;
  font-size: 1.25rem;
}
.lightbox-header .author span {
  font-weight: 600;
}
.lightbox-header .buttons i {
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #FFF;
  font-size: 1.125rem;
  border-radius: 4px;
}
.lightbox-header .buttons .bx-download {
  background-color: #A57A65;
}
.lightbox-header .buttons .bx-x {
  margin-left: 10px;
  background-color: #AAA;
}

.wrapper .preview-img {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.wrapper .preview-img .img {
  max-width: 90vw;
  max-height: 65vh;
}

.img .lightbox-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=style.css.map */